.body {
    width: 100%;
    height: 100%;
    background-image: url(./assets/home.png);
}

.header {
    height: calc((100%)/3);
    display: flex;
    justify-content: space-around;
    margin: 5%;
}

.azathoth,
.cthulhu,
.iogSothoth,
.shubNiggurath {
    width: 216.5px;
    height: 287px;
    align-items: stretch;
    background-size: cover;
    cursor: pointer;
    transition: .3s;
    border: 3px solid rgb(0, 0, 0);
}

.azathoth:hover,
.cthulhu:hover,
.iogSothoth:hover,
.shubNiggurath:hover {
    scale: 1.05;
}

.azathoth.active,
.cthulhu.active,
.iogSothoth.active,
.shubNiggurath.active {
    transform: scale(1.03);
    border: 3px solid rgb(153, 255, 0);
    transition: .3s;
}

.main {
    display: flex;
    justify-content: space-around;
}

.btn {
    height: 50px;
    width: 200px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(144, 144, 144);
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    scale: 1.05;
}

.btn.active {
    transform: scale(1.03);
    border: 3px solid rgb(153, 255, 0);
    transition: .3s;
}

.footer {
    height: calc((100%)/3);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
}

.card,
.card-bg,
.tracker {
    width: 195.2px;
    height: 287px;
    background-size: cover;
}

.card-bg {
    background-image: url(./assets/mythicCardBackground.png);
    align-items: stretch;
    background-size: cover;
    cursor: pointer;
    transition: .3s;
}

.card-bg:hover {
    scale: 1.01;
}

.card-bg:active {
    scale: 0.97;
}

.scale {
    scale: 0.97;
}

.tracker {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 39px;
}

.green,
.brown,
.blue {
    width: 39px;
    height: 39px;
    border-radius: 19.5px;
    text-align: center;
    line-height: 39px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);
}

.green {
    background-color: rgb(3, 118, 3);
}

.brown {
    background-color: rgb(132, 75, 0);
}

.blue {
    background-color: rgb(35, 7, 192);
}

.inactive {
    display: none;
}

.again {
    order: -1;
}

.hidden {
    visibility: hidden;
}